<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      
      <!--add correct values-->
      <add key="u4i-jira" value="" />
      <add key="u4i-login" value="" />
      <add key="u4i-password" value="" />

      <add key="ain-jira" value="" />
      <add key="ain-login" value="" />
      <add key="ain-password" value="" />
      <add key="target-ain-ticket" value="" />
    </appSettings>
  </configuration>